.feedback {
    @apply text-base;
    padding-bottom: 100rem;
}

.grey-background {
    @apply bg-grey-lighter;
}

.add-padding-around-field-for-display-purposes {
    @apply p-20;
    padding-bottom: 100rem;
}

.h2-title {
    @apply text-lg;
    padding: 20px 0 10px;
}
