{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [
      ]
    },
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
