strict-ssl=false
//nexus.comparethemarket.com.au/repository/platform-packages/:_authToken=NpmToken.${bamboo_nexus_fe_token_password}
//nexus.comparethemarket.com.au/repository/npm-all/:_authToken=NpmToken.${bamboo_nexus_fe_token_password}
