@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    box-sizing: border-box;
    /* set font size for using REM with accessibility in mind */
    font-size: 62.5%;     /* 62.5% of 16px (typical default browser font-size) is 10px. Therefore 1.6rem = 16px */
}

@media all and (min-width: 1200px){
    html {
        zoom: 110%;
    }
}

@media all and (min-width: 1900px){
    html {
        zoom: 115%;
    }
}

@media all and (min-width: 2560px){
    html {
        zoom: 120%;
    }
}

body {
    margin: 0;
    font-family: SourceSansPro, Helvetica, Arial;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

ul {
    list-style-type: ;
}
